* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




nav {
    background: white;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    font-weight: bold;
    color: blue;
    position: fixed;
    top: 0;
    z-index: 1;
}
.menu a{
    text-decoration: none;
    text-transform: uppercase;
    padding:0 10px ;
}
.banner{
    background-image: url(/image/fp-home-3-768x512.webp);
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner h1{
    text-align: center;
    background-color: yellowgreen;
    font-size: 60px;
    margin: auto;
    width: 41%;
    position: relative;
    top: 40%;
    margin:0 auto;

}
.news{
    background-color: #f94b89;
    width: 100%;
    height: 50px;
}
marquee{
    line-height: 50px;
    color: white;
    font-size: 30px;
    background: linear-gradient(to right,green,blue,red);
}
.about{
    padding: 150px 200px;
    text-align: center;
    background: rgb(233, 190, 198);
}
.about h2{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px red;
}
.about p{
line-height: 25px;
letter-spacing: 1px;
word-spacing: 1px;
margin-bottom: 10px;
}
.about button{
    width: 235px;
    height: 42px;
    background: #f94b89;
    color: white;
    border: none;
    border-radius: 10px;
}

/* team css */
.team{
    padding: 150px 200px;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7)),url(/image/fp-about-2-900x506.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
   /* background: rgba(0,0,0,0.7);/*
   /* background: url(/image/fp-home-3-768x512.webp);*/
}
.team h2{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px red;
}
.team p{
line-height: 25px;
letter-spacing: 1px;
word-spacing: 1px;
margin-bottom: 10px;
}
.team button{
    width: 235px;
    height: 42px;
    background: #f94b89;
    color: white;
    border: none;
    border-radius: 10px;
}
 /* contact css  */
 .contact{
    padding: 150px 200px;
    text-align: center;
    background: linear-gradient(to left, red,orange );
    color: white
   
}
.contact h2{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px red;
}
.contact p{
line-height: 25px;
letter-spacing: 1px;
word-spacing: 1px;
margin-bottom: 10px;
}

.contact button{
    width: 235px;
    height: 42px;
    background: #f94b89;
    color: white;
    border: none;
    border-radius: 10px;
}
footer{
    background: linear-gradient(to right,grey);
    width: 100%;
    height: 350px;
}

